/*
font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h2 {
	text-transform: uppercase;
	font-size: 30px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: #32425c;
}

p {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.main-header {
	background-color: #f3f7f8;
	font-size: 17px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.top-menu {
	color: #ffffff;
	background-color: #32425c;
}

.top-menu_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-menu_wrapper a {
	color: #ffffff;
	line-height: 18px;
}

.top-menu_order a {
	padding: 15px 22px 14px 20px;
	background-color: #63a63e;
}

.logo {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
	background-color: #EE3643;
	padding: 13px 55px 13px 55px;
	border-bottom: 4px solid rgba(0, 0, 0, 0.24);
	
	
}

.middle-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.middle-menu_info {
	margin: 0;
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	width: 30%;
	padding: 47px 35px;
}

.middle-menu div {
	width: 35%;
	padding: 35px 10px;
}

.contacts_phone {
	font-family: 'Cuprum', sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
	padding: 10px 50px 10px 72px;
}

.contacts_address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.middle-menu_account a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.middle-menu_account a:hover {
	color: #ee3643;
}

.middle-menu_account a:active {
	color: #000000;
	opacity: 0.3;
}

.lower-menu {
	padding-bottom: 60px;
}

.lower-menu_menu {
	padding:0;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;
	color: #ffffff;
	line-height: 17px;
	display: flex;
	justify-content: space-between;
}

.lower-menu_menu a {
	color: #ffffff;
	padding: 19px 31px;
}

.lower-menu_menu li {
	padding-top: 21px;
	padding-bottom: 21px;
}

.lower-menu_menu li:hover {
	background-color: #293449;
}

.lower-menu_menu li:active {
	background-color: #1d2739;
	opacity: 0.5;
}

.promo-block {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.promo-item {
	width: 300px;
	height: 123px;
	margin-bottom: 20px;
}

.slider {
	padding: 0;
	margin: 0;
}

.column {
	display: flex;
	flex-direction: column;
}

.promo-item h3 {
	color: #ffffff;
}

.promo-info {
	font-family: 'Cuprum', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	width: 135px;
	padding: 8px 30px;
	margin-left: 23px;
	border-radius: 4px;
	border: 1px solid black;
}

.materials {
	background-color: #ffbf47;
}

.instruments {
	background-color: #3bbce3;
}

.machines {
	background-color: #dc91d8;
}

.discount {
	background-color: #8ed78f;
}

.delivery {
	background-color: #ffc047;
}

.promo-item h3 {
	font-weight: bold;
}

.section-header {
	background-color: #f9f5f0;
}

.section-header h2 {
	color: #32425c;
}

.catalog {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog p {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
}

.title {
	margin: 0;
	padding: 0 30px;
	color: #000000;
}

.price-old {
	color: #a9a9a9;
	text-decoration: line-through;
}

.catalog-item {
	outline: 1px solid black;
	width: 220px;
	height: 318px;
	vertical-align: top;
}

.catalog-item:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.manufacturer img {
	outline: 1px solid #e7e7e7;
	margin-top: 20px;
}

.manufacturer img:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
	background-color: #ffffff;
	outline: none;
}

.manufacturer img:active {
	opacity: 0.3;
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	background-color: #ffffff;
}

.manufacturer img:nth-child(4n) {
 	margin-right: 0;
}

.service {
	background-color: #f4f8f9;
}

.service h2 {
	color: #000000;
}

.main-footer {
	background-color: #32425c;
	color: #ffffff;
	padding-top: 15px;
}

.footer-menu a {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

.footer-menu a:hover {
	text-decoration: underline;
}

.footer-menu a:active {
	text-decoration: none;
	color: #f1f5f7;
	opacity: 0.5;
}

.top-menu_wrapper-footer {
	
	display: flex;
	justify-content: space-between;
}

.top-menu_middle-footer {
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
}

.address {
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}
.upper-footer_shop-menu a {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.upper-footer_shop-menu a:hover {
	text-decoration: underline;
}

.upper-footer_shop-menu a:active {
	text-decoration: none;
	opacity: 0.5;
}


.lower-footer {
	background-color: #293449;
}

.menu-lower-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright-company,
.feedback,
.design-copyright {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.feedback a,
.design-copyright a {
	color: #ffd180;
}

.feedback a:hover {
	text-decoration: underline;
}

.feedback a:active {
	text-decoration: none;
	color: #ee3643;
}

.design-copyright a:hover {
	text-decoration: underline;
}

.design-copyright a:active {
	text-decoration: none;
	color: #ee3643;
}